.titulo{
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 25px;
    
}

body{
    background-image: url(../img/fondo_cajero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.conjunto_servicios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 50px;

}

